.button {
  border: none;
  padding: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  display: block;
}

.button:focus {
  border: 1px solid var(--text-black);
}

@media (hover: hover) {
  .button:hover {
    opacity: 0.7;
  }
}
